azul-01 = #009ec3
azul-02 = #06576d
azul-03 = #00345c
verde-01 = #006666
amarillo-01 = #ffb600
gris-01 = #666666

.azul-01
	color azul-01
.verde-01
	color verde-01
.white
	color white
.amarillo-01
	color amarillo-01
.italic
	font-style italic
.mayus
	text-transform uppercase
.thin
	font-weight 300
.mt-20
	margin-top 20px
.mb-20
	margin-bottom 20px
.mb-0
	margin-bottom 0px
.mb-40
	margin-bottom 40px
.mt-40
	margin-top 40px
.mt--40
	margin-top -40px
.mt--60
	margin-top -60px
.mt--70
	margin-top -70px
.mt--80
	margin-top -80px
.cien
	width 100%
	height auto
	display block
h3.mayus.azul-01
	white-space normal
.white-space
	p
		white-space normal
body
	background #edeeee
	font-family 'Montserrat', sans-serif
.site
	overflow-x hidden
.main-navigation.navbar
	background azul-03
.inner-top-bar-container
	width 100%
	display flex
	justify-content space-between
.navbar-brand
	img
		width 100px
.navbar-dark
	.navbar-nav
		.nav-link
			color white
			transition color .5s ease
			text-transform uppercase
			&:hover
				color azul-01
				transition color .5s ease
.main-banner-container
	height 250px
	width 100%
	display block
	margin-bottom 60px
	.item
		background-color transparent
		background-position center center
		background-repeat no-repeat
		background-size 950px
		height 250px
		width 100%
		display block
.slick-dots
	padding 0
	margin 0
	text-align center
	li
		display inline-block
		width 12px
		height 12px
		border-radius 50%
		overflow hidden
		background azul-01
		margin 0 6px
		&.slick-active
			background amarillo-01
		button
			background none
			border none
			color transparent
.inner-page-banner
	height 150px
	display block
	width 100%
	background-size 768px
	background-position center top
	background-repeat no-repeat
	margin-top 50px
	margin-bottom 20px
h1.main-title
	font-size 1.6em
	width 100%
	display block
.linea-block
	.imagen-linea
		img
			width 100%
			display block
	.info
		.title
			&.azul-01
				color azul-01
			&.verde-01
				color verde-01
a.view-catalog
	text-decoration underline
	font-size .9em

.inner-banner-home
	height 200px
	display block
	width 160%
	margin-left -30%
	margin-top 30px
	margin-bottom 30px
	background transparent url(./assets/images/banner_home_inner.jpg) no-repeat center center
	background-size cover
.inner-banner-hoteles
	height 200px
	display block
	width 160%
	margin-left -30%
	margin-top 30px
	margin-bottom 30px
	background transparent url(./assets/images/500-hoteles-fabrica-de-colchones-guadalajara.jpg) no-repeat center center
	background-size cover
.soluciones-a-medida
	.image
		img
			width 100%
			height auto
			display block
.blue-block
	background azul-02
	padding-top 20px
	padding-bottom 10px
	line-height 1em
	.first-line
		font-size 1.8em
	i
		font-size .8em
.garantia
	.image
		img
			width 100%
			height auto
			display block
.blog-item
	margin-bottom 40px
.inner-blog-container
	-webkit-box-shadow 0px 0px 20px -2px rgba(0,0,0,0.75)
	-moz-box-shadow 0px 0px 20px -2px rgba(0,0,0,0.75)
	box-shadow 0px 0px 20px -2px rgba(0,0,0,0.75)
	overflow hidden
	.image
		img
			width 100%
			height auto
			display block
	.info
		padding 10px 20px
		.title
			height 48px
			overflow hidden
		.excerpt-blog
			font-size .8em
.blog
	.inner-blog-container
		.info
			.title
				font-size 1.1em
				height auto
.catalog-item
	margin-bottom 40px
	.inner-container
		-webkit-box-shadow 0px 0px 20px -2px rgba(0,0,0,0.75)
		-moz-box-shadow 0px 0px 20px -2px rgba(0,0,0,0.75)
		box-shadow 0px 0px 20px -2px rgba(0,0,0,0.75)
		overflow hidden
		.image
			img
				height auto
		.info
			padding 15px
			background transparent url(./assets/images/garantia-unikonfort.jpg) no-repeat 90% 75%
			background-size 50px
			color gris-01
			.title-block
				margin-bottom 40px
				h2
					font-size 1.4em
					margin-bottom 2px
				h3
					font-size 1em
			.texts
				p
					margin-bottom 2px
					font-size .8em
		.icons
			margin 20px 0
			span
				color azul-01
				font-size 1.5em
				margin-right 3px
.catalog-cat-item
	.inner-container
		position relative
		height 800px
		display block
		background #0093b0
		margin-bottom 40px
		&.bel-air
			background #0093AF !important
		&.confort-home
			background #212d3b !important
		&.top-hotel
			background #07516a !important
		.image
			position relative
			z-index 1
			width 100%
		.info
			position absolute
			bottom 20px
			z-index 2
			width 100%
			padding 0 20px
.skip-link
	display none
h1.entry-title
	text-align center
	text-transform uppercase
	color azul-01
	font-weight bold
	letter-spacing 1px
.fabrica-item
	display flex
	justify-content space-between
	align-items top
	.imagen
		span
			font-size 5.5em
	.info
		width 60%
		h3
			font-size 1.3em
			span
				font-size .8em
		p
			font-size .8em
.clients-container
	.client-item
		text-align center
		padding 15px 0
		img
			-webkit-box-shadow 0px 0px 20px 0px rgba(0,0,0,0.75)
			-moz-box-shadow 0px 0px 20px 0px rgba(0,0,0,0.75)
			box-shadow 0px 0px 20px 0px rgba(0,0,0,0.75)
			width 60%
			display inline-block
			height auto
.slick-arrow
	position absolute
	top 50px
	color gris-01
	border none
	background none
	&:hover
		outline none
	&.slick-next
		right 0
		transform rotate(180deg)
		top 40px
article
	width 100%
.contact-line
	font-size .9em
	display flex
	align-items center
	span
		margin-right 6px
		font-size 1.2em
	a
		color black
		transition color .5s ease
		&:hover
			color azul-01
			transition color .5s ease
.contact-info-block
	p:first-child
		font-style italic
		margin-bottom 30px
.inner-map
	height 200px
	display block
	width 160%
	margin-left -30%
	margin-top 60px
	margin-bottom 60px
	background gray
footer
	background azul-03
	color white
	padding-top 30px
	padding-bottom 20px
	font-size .85em
	&.entry-footer
		background none
	h3.title
		font-size 1.2em
	p.footer-line
		display flex
		align-items center
		span
			margin-right 5px
	.icon-phone
	.icon-mail
	.icon-pin
	.icon-watch
		color azul-01
		font-size 1.6em
	.social-stuff
		padding 0
		margin 0 0 0 20px
		text-align left
		li
			display inline-block
			font-size 2em
			margin 0 5px
			a
				color white
				transition color .5s ease
				&:hover
					color azul-01
					transition color .5s ease
					text-decoration none
	.logo-footer
		width 200px
		height auto
		display inline-block
	.footer-menu
		padding 0
		margin 0
		li
			display block
			margin 3px 0
			a
				text-transform uppercase
				color white
	.credits
		a
			transition color .5s ease
			&:hover
				color white
				transition color .5s ease
.navigation.post-navigation
	text-align center
	h2
		margin-bottom 30px
	.nav-links
		a
			color azul-01
		.nav-previous
		.nav-next
			margin-bottom 30px
.comment-respond
	margin-top 40px
.form-group
	&.error
		input.form-control
		select.form-control
		textarea.form-control
			border 1px solid red
			transition border-color .5s ease
form
	position relative
.sent_mail_alert
	background rgba(black, .9)
	padding 20px 30px
	color azul-01
	text-align center
	position absolute
	width 100%
	bottom 100px
	display none
@media screen and (min-width: 375px)
	.slick-arrow
		top 75px
		&.slick-next
			top 65px
	.catalog-item
		.inner-container
			.info
				background-size 100px
	.clients-container
		.client-item
			img
				width 80%
@media screen and (min-width: 425px)
	.slick-arrow
		top 90px
		&.slick-next
			top 80px
@media screen and (min-width: 480px)
	.slick-arrow
		top 55px
		&.slick-prev
			left -15px
		&.slick-next
			right -15px
			top 45px
@media screen and (min-width: 600px)
	.slick-arrow
		top 40px
		&.slick-prev
			left -20px
		&.slick-next
			right -20px
			top 30px
@media screen and (min-width: 768px)
	.inner-banner-home
		height 300px
		margin-top 40px
		margin-bottom 40px
		background transparent url(./assets/images/banner_home_inner.jpg) no-repeat center center
		background-size cover
	.inner-banner-hoteles
		height 300px
		margin-top 40px
		margin-bottom 40px
		background transparent url(./assets/images/500-hoteles-fabrica-de-colchones-guadalajara.jpg) no-repeat center center
		background-size cover
	.inner-page-banner
		height 250px
		background-size cover
	.main-banner-container
		height 450px
		width 100%
		.item
			background-size cover
			height 450px
	.bottom-blue-line
		border-bottom 1px solid azul-01
		margin-bottom 60px
		padding-bottom 50px
	.inner-map
		height 300px
	.slick-arrow
		&.slick-prev
			top 50px
		&.slick-next
			top 40px
	.blog
		.inner-blog-container
			.info
				.title
					font-size 1.2em
					height 66px
	.navigation.post-navigation
		text-align center
		.nav-links
			.nav-previous
			.nav-next
				width 45%
			.nav-previous
				float left
				text-align left
			.nav-next
				float right
				text-align right
	.comment-form-comment
		label
			clear both
			display block
	.catalog-cat-item
		.inner-container
			&.hotel-line
				.info
					top 300px
					bottom unset
@media screen and (min-width: 992px)
	.inner-top-bar-container
		margin 0 auto
		width 990px
		display flex
		height 60px
		overflow hidden
	.inner-page-banner
		margin-top 0
	.navbar-brand
		img
			width 200px
	.main-navigation.navbar
		background -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%)
		background -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
		background linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
	.main-menu.navbar-nav
		float right
		margin 0 !important
	.menu-menu-top-container
		align-items center
		justify-content flex-end
	.main-banner-container
		height 450px
		margin-top -60px
	h1.main-title
		font-size 2em
	.garantia
		.image
			img
				width 80%
				margin 20px auto
	.catalog-item
		margin-bottom 60px
		.inner-container
			.info
				padding 20px
				background transparent url(./assets/images/garantia-unikonfort.jpg) no-repeat 90% 55%
				background-size 175px
				.title-block
					h2
						font-size 1.6em
					h3
						font-size 1.1em
				.texts
					p
						font-size .9em
			.icons
				margin-top 30px
				span
					font-size 2em
	.fabrica-item
		.imagen
			display flex
			justify-content center
			align-items center
			width 40%
			span
				font-size 5.5em
				display inline-block
	.inner-map
		height 420px
	.slick-arrow
		font-size 2em
		&.slick-prev
			top 35px
			left -35px
		&.slick-next
			top 20px
			right -35px
	.catalog-cat-item
		.inner-container
			&.hotel-line
			&.confort-home
				.info
					top 395px
					
@media screen and (min-width: 1200px)
	.inner-page-banner
		height 350px
	.inner-top-bar-container
		width 1160px
	.garantia
		.image
			img
				width 65%
				margin 0 auto
	.catalog-item
		.inner-container
			.icons
				span
					font-size 2.8em
	.contact-line
		span
			margin-right 5px
			font-size 1.4em
	.catalog-cat-item
		.inner-container
			&.hotel-line
			&.confort-home
				.info
					top 470px