azul-01 = #009ec3
verde-01 = #006666

.italic
	font-style italic
.mb-40
	margin-bottom 40px
body
	background white
.navbar-brand
	img
		width 100px

.main-banner-container
	background purple
	height 300px
	width 100%
	display block
	margin-bottom 30px

.linea-block
	.imagen-linea
		img
			width 100%
			display block
	.info
		.title
			&.azul-01
				color azul-01
			&.verde-01
				color verde-01
		a
			text-decoration underline
			font-size .9em